{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Funcionários</h1>
    <a href="{{ path('funcionario_new') }}"class="btn btn-primary">Criar novo Funcionário</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Cargo</th>
                <th>Ativo</th>
                <th>Datacadastro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for funcionario in funcionarios %}
            <tr>
                <td><a href="{{ path('funcionario_show', { 'id': funcionario.id }) }}">{{ funcionario.id }}</a></td>
                <td>{{ funcionario.nome }}</td>
                <td>{{ funcionario.email }}</td>
                <td>{{ funcionario.cargo }}</td>
                <td>{% if funcionario.ativo %}Yes{% else %}No{% endif %}</td>
                <td>{% if funcionario.dataCadastro %}{{ funcionario.dataCadastro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('funcionario_show', { 'id': funcionario.id }) }}"class="btn btn-info">Mostrar</a>
                    <a href="{{ path('funcionario_edit', { 'id': funcionario.id }) }}"class="btn btn-warning">Editar</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
