{% extends 'base.html.twig' %}

    {% form_theme edit_form "bootstrap_3_horizontal_layout.html.twig" %}

{% block body %}
    <h1>Editar Serviço</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-primary" />
    {{ form_end(edit_form) }}

    <a href="{{ path('servico_index') }}" class="btn btn-default" >Voltar</a>
    
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger" >
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
